:root{
    --white:#f0ece9;
    --black:#2b2b2b;
    --pink:#eebeb0;
}

/* reset margins and borders for the page */
* { 
    margin:0;
    border:0;
    font-size:100%;
    outline: 0;
    padding:0;
    color:var(--black);
    font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    height:100%;
}

/* main container is a flex  */
.mainContainer{
    display:flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--white);
    align-items: center;
}

/* header has a title and a stats page */
.header{
    width:100%;
    background-color: var(--black);
    
}

.header h1{
    padding:1rem 1rem 0rem 1rem;
    text-align: center;
    font-size: 450%;
    color:var(--pink);
}

.header h2{
    padding: 0rem 0rem 1rem 1rem;
    color:var(--pink);
    text-align: center;
}

/* add book button */
.add{
    background-color: var(--pink);
    font-size:250%;
    color:var(--black);
    margin: 2rem auto;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid var(--black);

}

.add:hover{
    background-color: #dda99b;
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 8px 1px gray;
}

/* table to display all the books */
.table{
    width:900px;
    table-layout: fixed;
}
table, th, td{
    border: solid 1px black;
    padding:2px;
    border-collapse: collapse;
    overflow:hidden;
} 
th{
    font-size:150%;
}

.readON{
    background-color: green;
    padding:2px 2px;
    color:white;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
}

.readOFF{
    background-color: red;
    padding:2px 2px;
    color:white;
    border: 1px solid black;
    border-radius: 3px;
    width: 80%;
}

/* delete button css */
.delete{
    background-color: var(--pink);
    width: 80%;
    color:var(--black);
    border: 1px solid black;
    border-radius: 3px;
}

/* overlay css */
#close{
    float:right;
}
#overlay{
    position:fixed; 
    display:none;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.5);
    z-index:2;
}


/* css for the form */
#form{
    position:absolute;
    top:50%;
    left:50%;
    background-color: ;
    font-size:150%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    padding:1rem;
    background-color: var(--white);
}

#form h2{
    font-size:150%;
}
.formContainer{
    background-color:white;
    padding:2rem;
}
.formContainer label{
    margin: 1rem 1rem;
}
.formContainer input{
    margin: 5px 10px 5px 0;
    padding:10px 20px;
    border: 1px solid #ddd;
}
#pages{
    width:20%;
}

/* input and clear button */
.formContainer button{
    user-select: none;
    padding: 10px 20px;
    border: 1px solid #ddd;
    color:white;
    
}
.formContainer button:hover{

    cursor: pointer;
}

.bottom{
    display:flex;
    justify-content: space-between;
}
#clearForm{
    background-color: red;
}


#submit{
    background-color: green;
}

#submit:hover{
    background-color:lightgreen;
}

/* error css for the form */
.error{
    outline: 1px solid red;
}
.error::-webkit-input-placeholder{
    color:red;
}